name: Update to Twitter
on:
  workflow_dispatch:
  schedule:
  - cron: "0 2 * * *" # Runs at 10:00am GMT+8 (converted as 2:00am UTC)
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    # Steps represent a sequence of tasks that will be executed as part of the job
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: szenius/set-timezone@v1.0
        with:
            timezoneLinux: "Asia/Kuala_Lumpur"
            timezoneMacos: "Asia/Kuala_Lumpur"
      - name: Install tweepy
        run:  pip install tweepy
      - name: Update
        env:
            TWIATA: ${{ secrets.TWIAT }}
            TWIATSA: ${{ secrets.TWIATS }}
            TWICKA: ${{ secrets.TWICK }}
            TWICSA: ${{ secrets.TWICS }}
        run: |
          echo Setting variables...
          export TWIAT=$TWIATA
          export TWIATS=$TWIATSA
          export TWICK=$TWICKA
          export TWICS=$TWICSA
          cd $GITHUB_WORKSPACE
          echo The following lines that appear will ensure that bash gets the environment properly.
          echo consumer_key is $TWICK
          echo consumer_secret is $TWICS
          echo access_token is $TWIAT
          echo access_token_secret is $TWIATS
          python twitter_bot.py
